<VirtualHost *:80>
    ServerName {{ app_domain }}
    DocumentRoot {{ deploy_path }}

    ErrorLog ${APACHE_LOG_DIR}/{{ app_name }}-error.log
    CustomLog ${APACHE_LOG_DIR}/{{ app_name }}-access.log combined

    <Directory {{ deploy_path }}>
        Options -Indexes +FollowSymLinks
        AllowOverride All
        Require all granted

        # For Angular routing to work properly
        RewriteEngine On
        RewriteBase /
        RewriteRule ^index\.html$ - [L]
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule . /index.html [L]
    </Directory>
</VirtualHost>
